@model AccountManager.Models.RazorContext
@{
    ViewBag.Title = "Corinne Païre Lasjunies's website";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="content">

<div data-role="content" style="margin: auto; text-align: center; width: 80%; max-width: 1000px; min-width: 700px;" >
            <h1>Corinne Paire Lasjunies</h1>
            <div style="margin: 10px;">
                <div style="float: left; margin: 0px 10px 3px 0px;">
                    <img src="./res/images/P1020286NB.600_450.png" width="600" height="450">
                </div>

                <div style="text-align: justify;">
                    
                    <p>Née en 1973 dans la région toulousaine, Corinne Paire Lasjunies étudie les arts plastiques et les arts appliqués avant de se spécialiser dans l'architecture d’intérieur, profession qu'elle exercera plusieurs années.</p>

                    <p>C'est lors d'un long séjour à l’étranger qu'elle décide de se remettre intensément à la peinture.</p>

                    <p>Le point de départ de son travail actuel vient d'une découverte faite sur la réaction d'un grain de café lyophilisé laissé un long moment à l'air libre. D'une consistance poudreuse et friable il devient dur, brillant et d'un noir intense. </p>

                    <p>C'est à partir de ce moment que Corinne Paire Lasjunies  élabore une technique pour intégrer cette découverte à son travail pictural.</p>

                    <p>L'utilisation de l'acrylique et du café permet la réaction chimique entre ses deux matières, créant une confrontation, une lutte permanente. Des blessures apparaissent prenant vie sous la forme de fissures, craquelures, avec un effet de céramique raku  (résultat d'une technique d'émaillage), donnant une profondeur à son travail, une matière changeante et vibrante.</p>
 
                    <p>Son travail s'appuie sur le développement d'un dialogue entre elle et la matière. Elle exprime la profondeur, l'ombre et la lumière, à l'aide de masses colorées abstraites.</p>

                </div>
            </div>
        </div>	
</div>
