@model AccountManager.Models.RazorContext

@{
    ViewBag.Title = "More actions";
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
}

<div data-role="header">
	<h1>More option</h1>
</div>
<div data-role="content">
    <a href="/newshtml/deleteconfirmation/@Model.NewsModel.Id"  data-role="button" data-rel="dialog"  data-transition="pop" data-icon="delete">Delete</a> 
    <a href="/newshtml/edit/@Model.NewsModel.Id" data-role="button" data-rel="dialog"  data-icon="gear">Edit</a> 
	<a href="/newshtml/publish/@Model.NewsModel.Id" data-role="button" data-rel="dialog"  data-icon="gear">Publish/Unpublish</a>
</div> 	
 	