@model AccountManager.Models.RazorContext

@{
    ViewBag.Title = "Create a news";
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
}

<div data-role="header">
    <h2>Create a news</h2>
</div>
<div data-role="content">   
    <form action="/newshtml/createnews" method="post">

        <input type="hidden" name="id" value="@Model.NewsModel.Id">
        <div data-role="fieldcontain" class="ui-hide-label">
	        <label for="title">Title:</label>
	        <input type="text" name="title" id="title" value="" placeholder="title"/>
        </div>

        <div data-role="fieldcontain" class="ui-hide-label">
	        <label for="summary">Summary:</label>
	        <input type="text" name="summary" id="summary" value="" placeholder="summary"/>
        </div>

        <div data-role="fieldcontain" class="ui-hide-label">
	        <label for="content">Content:</label>
	        <input type="text" name="content" id="content" value="" placeholder="Content"/>
        </div>

        <a href="/newshtml/index" data-role="button" data-mini="true" data-inline="true">Cancel</a>   
      <!--  <a href="/newshtml/createnews/@Model.NewsModel.Id" data-role="button" data-mini="true" data-inline="true">Create</a>-->
            <button type="submit" data-role="button" data-mini="true" data-inline="true">Create</button>
    </form>
</div>                                                              