@model AccountManager.Models.RazorContext
@{
    ViewBag.Title = "Corinne Païre Lasjunies's website";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="content">
	<ul data-role="listview" data-filter="true" data-split-icon="gear" data-inset="true">
        @foreach (var m in Model.NewsModels)
        {
            <li>
                <!-- @Html.ActionLink(m.Title, "edit", new { Id = m.Id })-->
                <a href="/newshtml/edit/@m.Id">
                    <!--<img src="../../res/images/painting1.jpg">-->
                    <h1>@m.Title</h1>
                    <p>@m.Summary</p>
                </a>
                <a href="/newshtml/actions/@m.Id" data-rel="dialog" data-transition="pop">options</a>
                    
            </li>
        }
	</ul>
</div>
