@model AccountManager.Models.RazorContext

@{
    ViewBag.Title = "News edit";
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
}

<div data-role="header">
	<h1>Login</h1>
</div>
<form action="/newshtml/logincmd" method="post">

    <div data-role="fieldcontain" class="ui-hide-label">
	    <label for="user">User:</label>
	    <input type="text" name="user" id="user" value="" placeholder="user" class="required"/>
    </div>

    <div data-role="fieldcontain" class="ui-hide-label">
	    <label for="password">Password:</label>
	    <input type="text" name="password" id="password" value="" placeholder="password" class="required"/>
    </div>

    <a href="/newshtml/index" data-role="button" data-mini="true" data-inline="true">Cancel</a>   
    <button type="submit">Login</button>
</form>
<div data-role="footer">
	
</div>
