@model AccountManager.Models.Account.Commands.RegisterAccountCommand

@{
    ViewBag.Title = "Register New Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register New Account</h2>

@using(Html.BeginForm("Register", "Account", FormMethod.Post)){
    @Html.EditorFor(x=>x)
    <input type="submit" value="submit"/>
}